<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net40" />
  <package id="GoogleMaps.LocationServices" version="0.9.8.5" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" requireReinstallation="True" />
  <package id="PCLWebUtility" version="1.0.2" targetFramework="net40" />
  <package id="TweetinviAPI" version="0.9.3.4" targetFramework="net40" />
  <package id="VVVV.Core" version="32.0.0" targetFramework="net40" />
  <package id="VVVV.PluginInterfaces" version="0.0.0" targetFramework="net40" />
  <package id="VVVV.SlimDX" version="1.0.1" targetFramework="net40" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="32.0.0" targetFramework="net40" />
  <package id="VVVV.Utils3rdParty" version="0.0.0" targetFramework="net40" />
</packages>